.popup .MuiPaper-root {
  background: #1b1c1e;
  position: relative;
  display: inline-block;
  box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.8),
    inset 5px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: white;
  width: 100%;
  margin: 20px;
}

.popup .MuiPaper-root:after {
  content: "";
}

.popup .MuiPaper-root:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #ca2381 0%, #4d3e8f 100%);
  padding: 1px;
  border-radius: 6px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.market-buy > div:last-child {
  display: none !important;
}

.modal-section {
  border-bottom: 1px solid #4c5a6f;
  position: relative;
}

.modal-footer {
  position: relative;
}

.balance-warning {
  position: relative;
}

.balance-warning:hover .warning-box {
  display: block;
}

.warning-box {
  position: absolute;
  display: none;
  width: 150%;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background: #000000;
  border-radius: 3px;
  padding: 5px 15px;
  text-align: center;
}

.warning-box::after {
  border: solid;
  border-color: #000 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  position: absolute;
}
